
.footer{
    background-color: #171A1D;
    padding: 3rem;
}

.footer span {
    font-size: 1.5rem;
    font-family: 'Inconsolata', sans-serif;
}

.white-text {
    color: white;
}

.gray-text {
    color: #94A4B4;
}